<div id="side-bar-cap">
    <div id="side-bar">
      <div id="main-page-teacher">
          <div routerLink="/teacher">Ana Sayfa</div>
      </div>
      <div id="payment-page-teacher">
         <div routerLink="/teacher/payment">Ödeme Bilgileri</div>
      </div>
      <div id="student-page-teacher">
        <div routerLink="/teacher/student">Ögrenciler</div>
      </div>
      <div id="support-page-teacher">
        <div routerLink="/teacher/contact">Destek</div>
      </div>
    </div>
</div>
