<div class="page-cap">
 <div class="flex">
     <div class="col-4">
        <app-user-menu></app-user-menu>
     </div>
     <div class="col-11">
        <div class="profile light-cap">
          <div class="profile-title">
            <p>Account Info</p>
          </div>
          <div class="profile-main">
           <form [formGroup]="this.userFormGroup">
            <div><input placeholder="Ad-Soyad" formControlName="fullName"></div>
            <div><input placeholder="Email" formControlName="email"></div>
            <div class="input-number">
             <input placeholder="Number" formControlName="number">
             <p>Important to keep your account secure!</p>
            </div>
            <div class="input-checkbox">
                <label class="switch">
                  <input type="checkbox" formControlName="isSendMail">
                  <span class="slider round"></span>
                </label>
                <p>I would like to receive emails with News content from the Course</p>
            </div>
           </form>
          </div>
          <div class="mail-varify-warning" *ngIf="this.IsVerifyMail">
            <div class="flex">
              <div>Please perform Email verification for your safety</div>
                <div><button (click)="ActiveCodeInput()" appAdd [entity]="'verifyemail'" [entityAddForm]="this.verifyEmailFormGroup" class="button">Verify</button></div>
            </div>
            <div class="verify-code-div" *ngIf="this.IsVerifyCodeInput">
              <div>
                <input type="text"
                [class.warning-border]="this.ISuccessVerifyCode==false"
                 [(ngModel)]="this.userInputCode"
                 class="forms"
                 id="verify-code-form"
                 placeholder="Dogrulama kodunu giriniz">
               </div>
               <div class="verify-code-button"><button (click)="VerifyCodeButton()" class="button">Verify</button></div>
            </div>
          </div>
          <div class="show-success-verify success-message" *ngIf="this.showSuccessVerify">
            <p>E-posta dogrulama başarılı,Teşekkürler</p>
          </div>
          <div class="button-div">
            <button appUpdate [entityId]="this.userId" [entity]="'user'" [entityFormGroup]="this.userFormGroup">Update</button>
         </div>
        </div>
     </div>
 </div>
</div>
