<div class="cap">
 <div class="search-input-cap">
   <input class="search-input" placeholder="Kurs Ara">
 </div>
 <div class="flex">
  <div class="col-3">
    <div class="category-cap" #categoryCap>
      <div (click)="addClassCategory()" class="category-title">Kategoriler <img class="down-arrow" [src]="this.imageUrl+'down-arrow.png'"></div>
      <div (click)="this.allCategoryOfCourse()" [class.d-block]="this.IsActiveCategory" class="category-all">Tümü</div>
      <div [class.flex-class]="this.IsActiveCategory" class="category" *ngFor="let c of categories">
         <div (click)="changeCategoryOfCourse(c.id)">{{c.name}}</div>
      </div>
    </div>
    <div class="teacher-cap" #teacherCap>
      <div (click)="addClassTeacher()" class="teacher-title">Egitmenler <img class="down-arrow" [src]="this.imageUrl+'down-arrow.png'"></div>
      <div (click)="this.allCategoryOfCourse()" [class.d-block]="this.IsActiveTeacher" class="teacher-all">Tümü</div>
      <div [class.flex-class]="this.IsActiveTeacher" class="teacher" *ngFor="let t of teachers">
         <div (click)="changeTeacherOfCourse(t.id)">{{t.fullName}}</div>
      </div>
    </div>
  </div>
  <div class="col-12">
   <div class="flex">
     <div (click)="routeLinkCourse(c)" class="course" *ngFor="let c of course">
       <div class="course-image-div">
         <img class="course-image" [src]="this.imageUrl + c.image">
       </div>
       <div class="course-name">
         <span>{{c.name}}</span>
       </div>
       <div class="course-description">
         <span>{{c.description}}</span>
       </div>
       <div class="flex course-card-bottom">
         <div class="course-complated" *ngIf="c.IsCourseHaveUser">
           <span>50%</span> Tamamlandı
         </div>
         <div class="course-price" *ngIf="!c.IsCourseHaveUser">
           <div>{{c.price}} TL</div>
         </div>
         <div class="course-teacher">
           <div *ngIf="getTeacherById(c.teacherId) as teacher">
             <img class="teacher-image" [src]="this.imageUrl + teacher.imageUrl">
             <span>{{teacher.fullName}}</span>
           </div>
         </div>
       </div>
       <div class="course-bar-div" *ngIf="c.IsCourseHaveUser">
         <div class="bar" [style.--completed-width]="20 + '%'"></div>
       </div>
     </div>
   </div>
 </div>
 </div>
</div>
