#login-cap{
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    width: 450px;
    height: 500px;
    margin: 0 auto;
    margin-top: 35px;
  }
  .login-title{
    text-align: center;
    font-size: 3.2rem;
    color: var(--title-color);
    margin-top: 50px;
    margin-left: -40px;
    margin-bottom: 20px;
    font-family:'Tw Cen MT';
  }
  .forms{
    display: block;
    width: 320px!important;
    height: 40px!important;
    margin-left: 60px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px rgb(198, 198, 198) solid;
  }
  .forms-title{
    font-size: 16px;
    margin-left:60px ;
    margin-bottom: 5px;
  }
  #form-eposta-cap{
    padding-top: 10px;
    margin-bottom: 50px;
  }
  #form-eposta{
    margin-bottom: 30px;
  }
  #login-btn{
    color: white;
    font-size: 19px;
    padding-bottom: 40px;
    padding-top: 15px;
    margin-left: 70px;
    margin-top:50px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: var(--button-color);
    cursor: pointer;
  }
  #login-remember-password{
    cursor: pointer;
    color: rgb(92, 92, 92);
    font-family:'Tw Cen MT';
    font-size: 24px;
    text-decoration:underline;
    text-align: right;
    margin-right: 80px;
    margin-top: 10px;
  }
  #warning-error-login{
    color: rgb(189, 63, 63);
    border: 1px rgb(219, 60, 60) solid;
    background-color:rgb(255, 200, 200);
    width: 360px;
    text-align: center;
    margin-left:50px;
    padding-top:5px ;
    border-radius: 3px;
  }
  #warning-error-login h6{
    font-size: 12px;
  }
  #remember-account{
    font-size: 13px;
    text-align: center;
    margin-top: 35px;
  }
  #remember-account div{
    cursor: pointer;
    font-size: 15px;
    margin-top: 3px;
    font-weight: 500;
    color: rgb(40, 28, 133);
  }
  /*password-remember  */
  #password-remember-cap{
    display: none;
    position: absolute;
    top: 125px;
    left: 50px;
    height: 250px;
  }
  .password-remember-title{
    font-size: 21px;
    font-weight: 600;
    color: var(--title-color);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 65px;
  }
  #remember-form-eposta-cap input{
    margin-left:0!important;
    margin-bottom: 30px;
  }
  #remember-form-code{
    margin-left:0!important;
    margin-bottom: 35px;
  }
  #password-remember-button,#verify-password-remember-button{
    text-align: center;
    margin-top:15px;
  }
  .mail-counter-div{
  text-align: right;
  display: none;
  margin-bottom: 10px;
  margin-top:-20px;
  font-size: 17px;
  }
  .mail-counter-div div{
    display: inline;
    margin-right:1px;
  }
  .warning-cap{
    color: rgb(255, 41, 41);
    font-size: 14px;
    margin-top: -25px;
  }
  .warning-cap div{
    margin-bottom: 5px;
  }
  .d-onyl-block{
    display: block;
  }
