<div class="light-cap" id="password-change-cap">
    <div id="password-change">
      <div class="password-change-title">Şifre Degiştir</div>
      <form [formGroup]="this.changePasswordGroup">
        <div>
          <input type="text"
          formControlName="password"
          class="forms"
          id="change-password-form-code"
          placeholder="Şifre">
        </div>
        <div>
          <input type="text"
          class="forms"
          id="verify-password-form-code"
          placeholder="Şifre Tekrar">
        </div>
      </form>
      <div id="verify-password-remember-button">
        <button (click)="ChangePassword()" appUpdate [userId]="this.userId" [entity]="'password'"class="button"
         [changePasswordFormGroup]="this.changePasswordGroup">Gönder</button>
      </div>
     </div>
  </div>
