#verify-step-cap{
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius:50px;
    margin-left:35%;
    margin-top: 50px;
}
#verify-step{
    margin-top: 35px!important;
    margin-left: 80px;
    font-size: 28px;
}
#one-step{
    margin-right: 10px;
    color: rgb(249, 131, 131);
}
#three-step{
    margin-left: 10px;
}
/* one-step-course-section */
#course-form{
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
}
.forms{
    width: 400px!important;
    padding: 15px!important;
    font-size: 18px!important;
}
.forms::placeholder{
    font-size: 20px;
}
#form-category-cap{
    width: 150px;
}
#category{
    width: 200px;
    padding: 5px;
    margin-left: 60px;
}
#form-image-cap{
    margin: 10px;
    margin-left: 60px;
}
#form-image-label-div{
   width: 150px!important;
   height: 20px!important;
   padding: 10px;
   margin: 10px;
   margin-left: 0;
   background-color: rgb(236, 236, 236);
   color: black;
   border: 1px solid rgb(153, 153, 153);
   font-size: 16px;
   cursor:pointer
}
#form-image{
 display: none!important;
}
#form-image-rules{
    margin-left:-60px;
}
#form-price{
    width: 100px;
    padding: 10px;
    height: 30;
    margin-left: 60px;
    font-size: 17px;
}
/* Course Preview */

#course-preview{
  margin-top: 20px;
  margin-left: 70px;
}
.course{
    cursor: pointer;
    width: 330px;
    height: 340px;
    border: 1px solid rgb(105, 141, 6);
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left:50px;
    background-color: rgb(252, 252, 252);
    border-top: 2px solid var(--title-color-2);
    border-left: 2px solid var(--title-color-2);
    transition: all .2s ease;
    box-sizing: border-box;
}
.course-image-ghost-div{
    content: "";
    height: 150px!important;
}
.course-image-div{
    height: 170px;
    border-bottom: 1px solid rgb(225, 225, 225);
}
.course-image{
    width: 100%;
    height: 170px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.course-name{
    font-size: 21px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--title-color-2);
    text-align: left;
    margin-left: 10px;
}
.course-description{
    font-size: 13px;
    font-weight: 300;
    margin-left: 13px;
    margin-top: 10px;
    padding-bottom:20px ;
    height: 45px;
    opacity: .9;
}
.course-langue{
    font-size: 27px;
    font-weight: 400!important;
    margin-left: 15px;
}
.course-teacher{
    font-size: 17px;
    font-weight: 200;
    margin-right: 13px;
}
.teacher-image{
    margin-bottom: -7px;
    margin-right: 5px;
    width: 33px;
    height: 33px;
    border-radius:130px;
}
.course-complated{
    margin-top: 7px;
    margin-left: 15px;
    text-align: center;
    font-size: 11px;
    color: rgb(88, 88, 88);
}
.course-complated span{
    color:rgb(0, 0, 0);
    font-size: 15px;
}
.course-price{
    font-weight: 500;
    font-size: 21px;
    margin-left: 15px;
    margin-top: 5px;
}
.course-card-bottom{
    margin-top: 5px;
    margin-bottom: 15px;
    justify-content: space-between;
}
.course-bar-div{
    margin-left: 15px;
    margin-top: 15px;
}
.editor{
    margin-left: 60px;
}
/* Two-step-section */
#two-step-course-section{
    border: 1px solid black;
    margin-top: 50px;
}
#add-section-video-cap{
    border: 1px solid black;
}
#add-section-video{
    margin-left: 50px;
}
.section{
    background-color: rgb(227, 225, 225);
    width: 550px;
    height:40px;
    margin: 15px;
}
.section_div-add{
    font-size: 18px;
    text-align: center;
    padding-top: 7px!important;
}
.section-name{
    font-size: 18px;
    padding-top:10px;
    margin-left:20px;
}
.section_arrow-icon{
 margin-left:16px ;
 font-size: 20px;
 cursor: pointer;
 font-weight:500;
}
#video-cap{
    border:1px solid black;
    height: 100px;
    padding-top: 10px;
}
.video{
    background-color: rgb(138, 138, 138);
    width: 500px;
    height:30px;
    margin: 15px;
    color: white;
}
#video_div-add{
    text-align:center;
    padding-top:5px;
    font-size:18px;
    cursor:pointer;
}
.video-name{
    margin:5px;
    margin-left: 10px;
}
.video-time{
    text-align:right;
    margin-left: 20px;
}
