<div id="two-step-course-section">
    <div id="add-section-video-cap" class="side-by-div">
      <div id="add-section-video">
        <div class="section" style="cursor:pointer">
         <div class="section_div-add">Yeni Bölüm Ekle +</div>
        </div>
        <div class="section side-by-div">
         <div class="section-name col-13">1-C# daki Veri tipleri</div>
         <div class="col-1 section_arrow-icon">></div>
        </div>
      </div>
      <div>
       <div id="video-cap">
         <div class="video">
           <div id="video_div-add">Yeni video ekle +</div>
         </div>
        <div class="video">
         <div class="video_div side-by-div">
           <div class="video-name">1-İnt veri tipi nedir</div>
           <div class="video-time ">20.23 dak</div>
         </div>
        </div>
       </div>
      </div>
    </div>
    <div id="video-preview">
     önzile
    </div>
 </div>
